
<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">

	</script>
</head>

<body>
	<h1>瓊埔大庫A<img align="left" src=".\image\1.png" alt="瓊埔" title="瓊埔" width="494px" ></h1>
	<ul >
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1A/agan">A</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1B/agan">B</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1C/agan">C</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1D/agan">D</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1E/agan">E</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1F/agan">F</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1G/agan">G</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/1H/agan">H</a></li>
	</ul>
    <h1>瓊埔小庫B</h1>
	<ul >
        <li><a style="font-size:30px;"href="http://yuantech.ga:81/2A/agan">A</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/2B/agan">B</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/2C/agan">C</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/2D/agan">D</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/2E/agan">E</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/2F/agan">F</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/2G/agan">G</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/2H/agan">H</a></li>
    </ul>
	<h1>上豐小庫A<img align="left" src=".\image\2.png" alt="上豐" title="上豐" width="494px" ></h1>
	<ul >
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/3A/agan">A</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/3B/agan">B</a></li>
    </ul>
    <br><br><br><br><br><br><br><br><br><br><br>
	<h1>上豐小庫B</h1>
	<ul >
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/4A/agan">A</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/4B/agan">B</a></li>
    </ul>
    <br><br><br><br><br><br><br><br><br><br><br>
	<h1>好收小庫<img align="left" src=".\image\3.png" alt="好收" title="好收" width="494px" ></h1>
	<ul >
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/5A/agan">A1</a></li>
		<li><a style="font-size:30px;"href="http://yuantech.ga:81/5B/agan">A2</a></li>
        <li><a style="font-size:30px;"href="http://yuantech.ga:81/5C/agan">C</a></li>
        <li><a style="font-size:30px;"href="http://yuantech.ga:81/5D/agan">D</a></li>
	</ul>
        
</body>

</html>
