 <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
     error = "<%=er%>";
	 time = "<%=time%>"
	 var res1 = error.split(",");
	 var res2 = time.split(",");
	 //document.write("errorlog");
	  //document.write(error);
	// document.write(res1[0].toString());
	// console.log(res1.length);
	 for (var i = 0; i < res1.length; i++) {
	 document.write(res2[i]);
	document.write(res1[i] + "<br/>");
  }
	 
    </script>
  </head>
  <body>
  </body>
</html>
